<?php  if ($block->getData('display')): ?>
    <?php
    $mainbaner = $block->getBanerData('mainbaner');
    $left1 = $block->getBanerData('left1');
    $left2 = $block->getBanerData('left2');
    $right1 = $block->getBanerData('right1');
    $right2 = $block->getBanerData('right2');
    $center = $block->getBanerData('center');
    ?>
    <div class="blocks-promo">
        <a class="block-promo home-main" href="<?=$mainbaner['url'];?>" style="background: <?=$mainbaner['bgcolor'];?>">
            <img src="<?=$mainbaner['image'];?>" alt="">
            <span class="content bg-white">
            <span class="info"><?=$mainbaner['subtitle'];?></span>
            <strong class="title"><?=$mainbaner['title'];?></strong>
            <span class="action more button"><?=$mainbaner['button'];?></span>
        </span>
        </a>
        <div class="block-promo-wrapper block-promo-hp">
            <a class="block-promo home-pants" href="<?=$left1['url'];?>" style="background: <?=$left1['bgcolor'];?>">
                <img src="<?=$left1['image'];?>" alt="">
                <span class="content">
                    <strong class="title"><?=$left1['title'];?></strong>
                    <span class="info"><?=$left1['subtitle'];?></span>
                    <span class="action more icon"><?=$left1['button'];?></span>
                </span>
            </a>
            <a class="block-promo home-t-shirts" href="<?=$right1['url'];?>" style="background: <?=$right1['bgcolor'];?>">
            <span class="image">
                <img src="<?=$right1['image'];?>" alt="">
            </span>
                <span class="content">
                    <strong class="title"><?=$right1['title'];?></strong>
                    <span class="info"><?=$right1['subtitle'];?></span>
                    <span class="action more icon"><?=$right1['button'];?></span>
                </span>
            </a>
            <a class="block-promo home-erin" href="<?=$center['url'];?>" style="background: <?=$center['bgcolor'];?>">
                <img src="<?=$center['image'];?>" alt="">
                <span class="content">
                    <strong class="title"><?=$center['title'];?></strong>
                    <span class="info"><?=$center['subtitle'];?></span>
                    <span class="action more icon"><?=$center['button'];?></span>
                </span>
            </a>
            <a class="block-promo home-performance" href="<?=$right2['url'];?>" style="background: <?=$right2['bgcolor'];?>">
                <img src="<?=$right2['image'];?>" alt="">
                <span class="content bg-white">
                    <strong class="title"><?=$right2['title'];?></strong>
                    <span class="info"><?=$right2['subtitle'];?></span>
                    <span class="action more icon"><?=$right2['button'];?></span>
                </span>
            </a>
            <a class="block-promo home-eco" href="<?=$left2['url'];?>" style="background: <?=$left2['bgcolor'];?>">
                <img src="<?=$left2['image'];?>" alt="">
                <span class="content bg-white">
                    <strong class="title"><?=$left2['title'];?></strong>
                    <span class="info"><?=$left2['subtitle'];?></span>
                    <span class="action more icon"><?=$left2['button'];?></span>
                </span>
            </a>
        </div>
    </div>

<?php endif; ?>